services:
  mcserver:
    build: mcs
    container_name: MinecraftServer_v1.20.2
    volumes:
      - world_data:/work
    ports:
      - 25565:25565
    tty: true
    stdin_open: true
volumes:
  world_data:
