<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>MCServer Controller</title>
    <link rel="stylesheet" href="../static/css/side.css">
</head>

<body>
    {% include 'header.html' %}
    {% include 'sidebar.html' %}
    <h1>Server Controll Center</h1>
    <form action="/action" method="post">
        操作：
        <select name="ctrl_type" required>
            <option value="0">Server Stop</option>
            <option value="1">Gamemode Survival</option>
            <option value="2">Get help</option>
            <option value="3">Give Stone</option>
        </select>
        <input type="submit" value="実行"><br>
        <input type="text" name="address" size="50" value={{ process }}>
    </form>
</body>