<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>MCServer Controller</title>
</head>

<body>
    <h1>Server Controll Center</h1>
    <form action="/action" method="post">
        操作：
        <select name="ctrl_type" required>
            <option value="0">停止</option>
            <option value="1">サバイバル</option>
            <option value="2">ヘルプ</option>
            <option value="3">None</option>
        </select><br>
        <input type="submit" value="実行">
    </form>
</body>